<div id="welcome">
  <span class="welcome-heading">Welcome</span>
  <br>
  <p>Hola Soy Karina Heras, bienvenido a  mi blog gracias por  los like.</p>
  <p>
    <a href="#">Home</a> <a href="#">About us</a>
  </p>
</div>
<div id="grid">

<article class="card" *ngFor="let post of (getAll$ | async)">
        <post-card  [titulo]="post.title" [contenido]="post.content" (boton)="onSelectPost(post._id)">
      <!--  <button-post [detelles]="post.detail" ><a "onclick(post)"[routerLink]="['post-detail/']">LEER MÁS >></a></button-post>-->

        </post-card>

</article>
<app-post-detail></app-post-detail>
<!--<app-post-detail [postDetailbtn]= "postDetailbtn" (cerrar)="cerrarDetalle()"></app-post-detail>
<md-card *ngFor="detail">
<md-card-title>
Detalles de los Post
</md-card-title>
<md-card-content>
<!--title:{{post.title}}
content{{post.content}}
Nombre Autor:{{post.nameAuthor}}
fecha: {{post.fecha}}
<button md-button (click)="onCerrar">Cerrar</button>
</md-card-content>

</md-card>-->
