
<p>create-post works!</p>

<div class="card bg-secondary text-white">
  <div class="card-body">
    <h4 class="card-title">{{post.title}}</h4>
    <h5 class="card-text">{{post.nameAuthor|currency:'INR'}}</h5>
  </div>
  <table class="table">
    <tr>
      <td scope="row">
        <b>Post Type</b>
      </td>

    </tr>
    <tr>
      <td scope="row">
        <b>comentario</b>
      </td>
      <td>{{post.content}}</td>
    </tr>
  </table>
  <div class="card-footer text-muted">
    <button type="button" class="btn btn-light" [routerLink]="['/posts',post.id]" >Detail</button>
    <button type="button" class="btn btn-danger" (click)="delete()" >Remove</button>
  </div>
</div>


<!--<form [formGroup]="formularioPost">
<h2>Craer Post</h2>
<p>
  <span>Author:</span>
  <input type="text" formControlName="nameAuthor" class="form-control">
</p>
<p>
  <span>Nickname:</span>
  <input type="text" formControlName="nickname" class="form-control">
</p>
<p>
  <span>Title:</span>
  <input type="texto" formControlName="title" class="form-control">
</p>
<p>
  <span>Content:</span>
  <input type="text" formControlName="content" class="form-control">
</p>
<p>
  <span>User:</span>
  <select formControlName="user">
    <option *ngFor="let user of users" value="{{user.id}}">{{user.rol}}</option>
  </select>
</p>
<p>
  <button (click)="this.newPost()">Guardar</button>
</p>
author
 <select formControlName="user">
    <option *ngFor="let user of users" value="{{user.id}}">{{user.rol}}</option>
  </select>
  nickname
   <select formControlName="user">
    <option *ngFor="let user of users" value="{{user.id}}">{{user.rol}}</option>
  </select>
  Title
   <select formControlName="user">
    <option *ngFor="let user of users" value="{{user.id}}">{{user.rol}}</option>
  </select>
  Content
   <select formControlName="user">
    <option *ngFor="let user of users" value="{{user.id}}">{{user.rol}}</option>
  </select>
<hr>
<!--<table>
<thead>
<tr>
<th>Author</th>
<th>Nickname</th>
<th>Title</th>
<th>Content</th>
<th>User</th>
</thead>
<tbody>
<tr *ngFor= "let post of posts">
<tbody>{{post.author}}</tbody>
<td>{{post.nickname}}</td>
<td>{{post.title}}</td>
<td>{{post.content}}</td>
<td>{{post.user}}</td>
<tbody>
</table>
</form>-->
