

a {
  text-decoration: none;
  color: rgb(12, 127, 235);
  padding: 7px;
  margin: 10px;
  padding-top: 30px;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}


nav {
  flex: 1 1 auto;
  padding-top: 1rem;
  
}
