<div class="container">
    <h1> Crud con Angular</h1>

    <a href="#" routerLink="/post/create/" class="btn btn-success">Create New Post</a>

    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Descripcion</th>
        <th width="220px">aqui iran los botones</th>
      </tr>
      <tr *ngFor="let post of posts">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.content }}</td>
        <td>
          <a href="#" [routerLink]="['/post/', post.id, 'edit']" class="btn btn-primary">Editar</a>
          <button type="button" (click)="deletePost(post.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
 </div>






<!-------- aqui         ------------------------>
<!--<h4>{{(getPost|async)?.title}}</h4>
<p>{{(getPost|async)?.content}}</p>
<p>{{(getPost|async)?.nickname}}</p>
<ul>Comments:
    <div *ngIf="(getPost|async)?.comments?.length>0; then ok else error"></div>
    <ng-template #ok>
        <li *ngFor="let comment of (getPost|async)?.comments">
            <p>{{comment?.comment}}</p>
            <p>{{comment?.nickname}}</p>
            <button (click)="showForm(comment?._id)">Edit</button>
            <button (click)="deleteComment(comment?._id)">Delete</button>
        </li>
    </ng-template>
    <ng-template #error>No hay comentarios</ng-template>
</ul>
<button (click)="showForm('')">Public comment</button>
<br>
<br>
<div *ngIf="show">
    <form [formGroup]="createComment">
        Comment: <input type="text" formControlName="comment">
        Nickname: <input type="text" formControlName="nickname">
        <button (click)="handleComment()" [disabled]="!createComment.valid">Share</button>
    </form>
</div>-->
