<p>post-edit works!</p>
<div class="container">
    <h1>Actulizar Post</h1>

    <a href="#" routerLink="/post/index" class="btn btn-primary">Volver</a>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="title">Titulo:</label>
            <input
                formControlName="title"
                id="title"
                type="text"
                [(ngModel)]="post.title"
                class="form-control">
            <div *ngIf="f.title.touched && f.title.invalid" class="alert alert-danger">
                <div *ngIf="f.title.errors.required">El titulo es necesario.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="content">Descripcion</label>
            <textarea
                formControlName="content"
                id="content"
                type="text"
                [(ngModel)]="post.content"
                class="form-control">
            </textarea>
            <div *ngIf="f.content.touched && f.content.invalid" class="alert alert-danger">
                <div *ngIf="f.content.errors.required">El contenido es necesario.</div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Actualizar</button>
    </form>
</div>
