<p>estoy en el backoffice!</p>








   <!--- <h1>Detalles del Post</h1>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Descripcion</th>
        <th>Nombre</th>
        <th width="220px">aqui iran los botones</th>
      </tr>
      <tr *ngFor="let post of posts">
      <td>{{ post._id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.content }}</td>
        <td>{{ post.nameAuthor }}</td>
        <td>
          <button type="button" (click)="onClick(post)">Detalles</button>
        </td>
      </tr>
    </table>
 </div>







